on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Deployment environment'
        required: true
        default: 'dev'
        type: choice
        options:
          - dev
          - qa
          - prod

      version:
        description: 'Release version'
        required: false
jobs:
  run-manually:
    runs-on: ubuntu-latest
    steps:
      - name: Say hello
        run: echo "Workflow triggered manually!"
